# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

/.idea
/src/metadata_lexer.erl
/src/data_type_lexer.erl
/src/metadata_parser.erl
/src/data_type_parser.erl
/metadata_lexer.beam
/data_type_lexer.beam
/metadata_parser.beam
/data_type_parser.beam